<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "blueprint/screen", :media => "screen" %>
  <%= stylesheet_link_tag    "blueprint/print", :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'application', :media => 'screen' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <header class="round">
    <h1>Brin Church</h1>
  </header>
  <section class="round">
    <div class="container">
      <nav class="span-4">
        <ul>
          <li><%= link_to "Bio", bio_path %></li>
          <li><%= link_to "Resume", resume_path %></li>
          <li><%= link_to "How I work", how_i_work_path %></li>
          <li><%= link_to "Links", links_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li>TODO: Code gallery (Links by project)</li>
          <li><%= link_to "Site map", sitemap_path %></li>
        </ul>
      </nav>
      <div class="span-20 last">
        <%= yield %>
      </div>
    </div>
  </section>
  <footer class="round">
    Brin Church Inc.<br/>
    Design: Petruxa
  </footer>
</div>
</body>
</html>
